*{
    overflow: auto;
    margin: 0px 0px;
    padding: 0px 0px;
}
body{
    background-image: url("../img/137225.jpg");
    background-repeat: no-repeat;
    position: fixed;
}
img{
    display: inline;
}
body{
    background-color: rgb(183, 0, 255);
    background-color: white;
}
.navbar{
    position: fixed;
} 
.navbar ul .nav-link{
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: all .5s;
}
.navbar ul a:hover{
    background-color: rgb(183, 0, 255);
   color: black !important;
   border-radius: 20px;
   
}
.logo{
    width: 70px;
}
.tab{
    width: 80%;
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px;
    margin-left: 135px;
    margin-top: 30px;
}
.div1{
    width: 100%;
}
.div1 img{
    height: 600px;
}
.tu{
    column-span: 6;
}
.div2{
    width: 100px;
}
.div2 .td{
margin: 0%;
padding:0%;
}
.po{
    display: flex;
    flex-wrap: wrap;
    width: 90px;
}
.po2{
    display: flex;
    flex-wrap: wrap;
    width: 90px;
}
.div3 ul{
    list-style-type: none;
}
.div3 ul li{
    display: inline;
}
.btn btn-primary{
    width: auto;
}
.p2{
    background-color: gray;
}
.k{
    width: 40px;
    float: right;
}
.bg-primary{
    text-align: center;
}
.container{
    background-color: blue;
    width: 25%;
    
}
.product{
    background-color: black;
}
@media (max-width:900) {
     .ll{
        margin-left: 100px;
         height: 300px;
     }
     .lk{
        display: flex;
        flex-wrap: wrap;
        width: 900px;
     }
    }
@media (max-width:750) {
    .ll{
        margin-left: 80px;
    }
    .lk{
        display: flex;
        flex-wrap: wrap;
        width: 750px;
     }
}
@media (max-width: 600) {
    .ll{
        margin-left: 60px;
    }
    .lk{
        display: flex;
        flex-wrap: wrap;
        width: 600px;
     }
}